.pages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.item {
  font-family: inherit;
  background-color: transparent;
  outline: transparent;
  border: none;
  color: var(--second-color);
}

.active {
  transform: scale(1.05);
  text-decoration: underline;
}
