.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px #cff09e solid;
  border-left: 2px #cff09e solid;
  border-right: 2px #cff09e solid;
  background: rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.logo {
  width: 40px;
  height: 40px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
  color: var(--main-font-color);
}
